.profile-pic {
	max-width: 100%;
}
.hello{
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

.width-video{
	width: 100%
}
.my-navbar{
	background-color: #12683a;
}

.my-link{
	color: white;
	font-family: cursive;
}

.first-progress	{
	background-color: blue;
}

.second-progress{
	background-color: gold;
}

.third-progress{
	background-color: hotpink;
}

.fourth-progress{
	background-color: #e52b2e;
}

.background-image{
	background-image: url(../img/spieth1.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
} 

.no-scroll{
	overflow: hidden;
}

.button-custom{
	background-color: yellow;
    border-color: yellow;
    color: darkgreen;
}

.center-t{
	margin-top: 20vh;
	padding-top: 0px;
}

.text-1{
	color: white;
    font-size: 106px;
    font-weight: 400;
    padding-bottom: 20px;
}

.text-2{
    color: white;
    font-size: 27px;
    line-height: 34px;
    margin-bottom: 25px;

}

.test2{
	width:100%;
	height: 400px;
}


